body {
    background-color: #000000;
    color: #FF9000;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #0B0B0C;
    color: #FF9000;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav img {
    height: 60px;
    margin-right: 20px;
}

nav a {
    color: #FF9000;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
}

button {
    background-color: #FF9000;
    color: #000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

button:hover {
    background-color: #ffb733;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: auto;
    margin-top: 20px;  /* Adjust the margin to move the form down slightly */
}

input, select, textarea {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #FF9000;
    background-color: #222;
    color: #FF9000;
}

h1 {
    text-align: center;
    margin-top: 20px;  /* Adjust the margin to move the header down slightly */
}

a {
    color: #FF9000;
}

a:hover {
    color: #ffb733;
}

.back-arrow {
    cursor: pointer;
    font-size: 20px;
    color: #FF9000;
}

.back-arrow:hover {
    color: #ffb733;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding-top: 50px; /* Add padding to move content below the nav bar */
}
