{% extends "base.html" %}

{% block title %}{{ _('Dashboard') }}{% endblock %}

{% block content %}
    <h1>{{ _('Dashboard') }}</h1>
    {% if quizzes %}
        <ul>
            {% for quiz in quizzes %}
                <li>
                    {{ quiz.title }}
                    <a href="{{ url_for('admin.edit_quiz', quiz_id=quiz.id) }}">{{ _('Edit') }}</a>
                    <a href="{{ url_for('admin.play_quiz', quiz_id=quiz.id) }}">{{ _('Launch') }}</a>
                    <form action="{{ url_for('admin.delete_quiz', quiz_id=quiz.id) }}" method="post" style="display:inline;">
                        <button type="submit">{{ _('Delete') }}</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>{{ _('No quiz available.') }}</p>
    {% endif %}
    <a href="{{ url_for('admin.create_quiz') }}">{{ _('Add New Quiz') }}</a>
{% endblock %}
