{% extends "base.html" %}

{% block title %}{{ _('Edit Quiz') }}{% endblock %}

{% block content %}
    <h1>{{ _('Edit Quiz') }}</h1>
    <form method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(size=32) }}
        </p>
        <p>
            {{ form.description.label }}<br>
            {{ form.description(size=32) }}
        </p>
        <p><input type="submit" value="{{ _('Save') }}"></p>
    </form>
    <h2>{{ _('Add Question') }}</h2>
    <form method="post" action="{{ url_for('admin.add_question', quiz_id=quiz.id) }}">
        {{ question_form.hidden_tag() }}
        <p>
            {{ question_form.text.label }}<br>
            {{ question_form.text(size=64) }}
        </p>
        <p>
            {{ question_form.type.label }}<br>
            {{ question_form.type(onchange="showAnswerFields()") }}
        </p>
        <p>
            {{ question_form.media_file.label }}<br>
            {{ question_form.media_file() }}
        </p>
        <div id="multiple_choice_fields" style="display:none;">
            {% for answer in question_form.answers %}
            <p>
                {{ answer.answer.label }}<br>
                {{ answer.answer(size=64) }}
                {{ answer.correct() }} {{ _('Correct') }}
            </p>
            {% endfor %}
        </div>
        <div id="true_false_fields" style="display:none;">
            <p>
                <input type="radio" name="true_false_answer" value="True" id="true">
                <label for="true">True</label>
                <input type="radio" name="true_false_answer" value="False" id="false">
                <label for="false">False</label>
            </p>
        </div>
        <p><input type="submit" value="{{ _('Add Question') }}"></p>
    </form>

    <script>
        function showAnswerFields() {
            var questionType = document.querySelector('select[name="type"]').value;
            var multipleChoiceFields = document.getElementById('multiple_choice_fields');
            var trueFalseFields = document.getElementById('true_false_fields');

            if (questionType === 'multiple_choice') {
                multipleChoiceFields.style.display = 'block';
                trueFalseFields.style.display = 'none';
            } else if (questionType === 'true_false') {
                multipleChoiceFields.style.display = 'none';
                trueFalseFields.style.display = 'block';
            } else {
                multipleChoiceFields.style.display = 'none';
                trueFalseFields.style.display = 'none';
            }
        }

        document.addEventListener('DOMContentLoaded', function() {
            showAnswerFields(); // Call the function to set the correct display when the page loads
        });
    </script>
{% endblock %}
