<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Quiz App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/icon.png') }}">
</head>
<body>
    <nav>
        <img src="{{ url_for('static', filename='img/icon.png') }}" alt="Logo">
        <a href="{{ url_for('player.index') }}">Home</a>
        <a href="{{ url_for('admin.login') }}">Admin Login</a>
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    {% block scripts %}{% endblock %}
</body>
</html>
